.formacao {
    padding: 50px 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 200px 0 0 0; 
    box-sizing: border-box;
}

.formacao-cont {
    display: flex;
    gap: 90px;
    max-width: 1200px;
    align-items: flex-start; 
    flex-direction: row-reverse;
}

.formacao-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.formacao-img img {
    width: 100%;
    height: auto;
    clip-path: circle(60% at 61% 65%);
    object-fit: cover;
}

.formacao-texto {
    margin-top: -80px;
    flex: 1;
    color: #1b1b1b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.curso-acad {
    font-size: 40px;
    margin-bottom: 20px;
    color: #004080;
}

.formacao-texto p {
    line-height: 1.6;
    font-size: 20px;
    text-align: justify;
}

